@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Raleway:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  background-color: #fafafa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: relative;
}

.required::after {
  content: '*';
  color: rgb(201, 35, 35);
  font-weight: bold;
}

.error-message {
  color: rgb(201, 35, 35);
  margin-top: 0;
}

#photo-upload {
  display: none;
}

.leaflet-routing-alt {
  display: none;
}
