@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Raleway:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    background-color: #fafafa;
}


.required::after {
  content: "*";
  color: rgb(201, 35, 35);
  font-weight: bold;
}