@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Raleway:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  background-color: #fafafa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: relative;
}

.required::after {
  content: '*';
  color: rgb(201, 35, 35);
  font-weight: bold;
}

.error-message {
  color: rgb(201, 35, 35);
  margin-top: 0;
}

#photo-upload {
  display: none;
}

.leaflet-routing-alt {
  display: none;
}

.leaflet-verticalcenter {
  margin-left: 10px;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  max-width: 100%;
  max-height: 100%;
}

.loader:after {
  content: " ";
  display: block;
  width: 24px;
  height: 24px;
  margin: 4px;
  border-radius: 50%;
  border: 4px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: loader 2s linear infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}